@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    color: #1a1a1a;
  }
}

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@keyframes gradient {
      0% {
        background-position: 0% 50%;
      }
      50% {
        background-position: 100% 50%;
      }
      100% {
        background-position: 0% 50%;
      }
    }

body{
  background: linear-gradient(-45deg, #f1fbfe, #eff2ff, #f1fbfe, #eff2ff);
  background-size: 200% 200%;
  animation: gradient 5s ease infinite;
}

