



html.lenis {
    height: auto;
  }
  
  .lenis.lenis-smooth {
    scroll-behavior: auto;
  }
  
  .lenis.lenis-smooth [data-lenis-prevent] {
    overscroll-behavior: contain;
  }
  
  .lenis.lenis-stopped {
    overflow: hidden;
  }

.banner {
    max-width: 1800px;
    margin: auto;
    width: 97%;
    

    .contents_list_banner{
        text-align: center;
    }
    .inner_list_banner{
        display: flex;
        padding: 0px;
        list-style-type: none;
        justify-content: center;
        width: 100%;
        .left_list{
            width: 5%;
            top: 731px;
            position: relative;
            left: -51px;
            z-index: 2;
        }

        .right_list{
            position: relative;
            width: 5%;
            top: 737px;
            right: 255px;
            z-index: 2;
        }

        .middle_list{
            height: 2800px;
            width: 80%;

            h1 {
                color: #1A1A1A;
                text-align: center;
                font-size: 72px;
                font-style: normal;
                font-weight: 500;
                line-height: 112%; /* 80.64px */
                letter-spacing: -2.88px;
                margin-bottom: 32px;
            }

            .header_text_gray{
                color: rgba(26, 26, 26, 0.30);
                text-align: center;
                font-size: 24px;
                font-style: normal;
                font-weight: 400;
                line-height: 120%; /* 28.8px */
                letter-spacing: -0.72px;
                margin-bottom: 54px;
            }
            .bold{
                color: #1A1A1A;
                font-size: 24px;
                font-style: normal;
                font-weight: 400;
                line-height: 120%;
                letter-spacing: -0.72px;
            }
        }
    }

    .content {
        flex: 1;
        padding: 1rem;
        /* Add your styles for the content here */
    
        .row {
            margin-bottom: 0.5rem;
            justify-content: center;
            h1 {
                color: #1A1A1A;

                text-align: center;
                font-family: "SFT";
                font-size: 72px;
                font-style: normal;
                font-weight: 500;
                line-height: 112%; /* 80.64px */
                letter-spacing: -2.88px;
                width: 60%;
            }
    
            p {
                font-style: normal;
                font-weight: 400;
                font-size: 18px;
                line-height: 28px;
                /* or 156% */
                color: #656464;
            }
        }
    }
    .inner-banner{
        display: flex;
        text-align: center;
        position: relative;
        border-radius: 48px;
        margin: auto;
        height: 60px;
        
        @keyframes gradient {
            0% { background-position: 0% 50%; }
            50% { background-position: 100% 50%; }
            100% { background-position: 0% 50%; }
        }
        .content {
            height: 800px;
            background: #FAFAFA;
            border-radius: 45px;
            background: linear-gradient(-45deg, #F1FBFE, #EFF2FF, #F1FBFE, #EFF2FF);
            background-size: 200% 200%;
            animation: gradient 5s ease infinite;
        }

        
    }
    
    .image {
        flex: 1;
    /* Add your styles for the big image here */
    }


    
    .link {
    position: relative;
    background: none;
    border: none;
    border-radius: 8px;
    overflow: hidden;
    max-width: fit-content;
    }
    
    .link::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #217BF4;
    opacity: 0.1;
    border-radius: 8px;
    }
      
    .link div {
    position: relative;
    color: #217BF4;
    z-index: 1;
    padding: 12px 30px;
    white-space: nowrap;
    }
    
    .buttons_banner_group {
        justify-content: center;

    .banner_buttons {
        position: relative;
        background: none;
        border: none;
        border-radius: 156px;
        overflow: hidden;
        padding: 2px;
        max-width: 138px;
        color: white;
        background-color: rgba(26, 26, 26, 1);
        }
    }

    

        
    .banner_buttons  {
    position: relative;
    color: white;
    z-index: 1;
    white-space: nowrap;
    }
    
    .banner_buttons:nth-child(2){
        margin-left: 26px;
    }
    

    

    @media (max-width: 900px) {
        .image {
            display: none;
        }
      }

      .banner_image {
        position: -webkit-sticky;
        position: sticky;
        height: 827px;
        z-index: 3;
        top: 100px;
        width: 28.3%;
        
    }


   
}





.gallery  {
    --s: 500px; /* control the size */
    
    display: grid;
    width: var(--s);
    aspect-ratio: 1;
    //overflow: hidden;
    padding: calc(var(--s)/20);
    position: relative;
    //clip-path: circle(49.5%); /* to avoid a few glitch cause by overflow: hidden */
  }
  .gallery::after {
    content: "";
    position: absolute;
    inset: 0;
    padding: inherit;
    border-radius: inherit;
  }
  .gallery > img {
    grid-area: 1/1;
    width: 100%;
    height: 100%;
    object-fit: unset;
    border-radius: inherit;
    transform-origin: 115% 196.7%;
  }
  .gallery::after,
  .gallery > img {
    animation: m 8s infinite cubic-bezier(.5,-0.2,.5,1.2);
  }
  .gallery > img:nth-child(2) {animation-delay: -2s}
  .gallery > img:nth-child(3) {animation-delay: -4s}
  .gallery > img:nth-child(4) {animation-delay: -6s}
  
  @keyframes m {
    0%,3%    {transform: rotate(0)}
    22%,27%  {transform: rotate(-90deg)}
    47%,52%  {transform: rotate(-180deg)}
    72%,77%  {transform: rotate(-270deg)}
    98%,100% {transform: rotate(-360deg)}
  }

.gallery_wrapper {
    justify-content: center;
    height: 1000px;
    width: 97%;
    overflow: hidden;
    background-color: #1A1A1A;
    margin: auto;
    border-radius: 49px;
    max-width: 1800px;
    margin: auto;
    background-image: url('../public/images/arch.png');
    background-repeat: no-repeat;
    background-position-y: 505px;
    z-index: 2;
    position: relative;
    margin-top: 108px;

    .howItWorks{
        color: var(--5, #FFF);
        text-align: center;
        font-family: "SFT";
        font-size: 68px;
        font-style: normal;
        font-weight: 500;
        line-height: 112%; /* 76.16px */
        letter-spacing: -2.72px;
        position: absolute;
        top: 92px;
    }
}
.circle-container {
    translate: none;
    rotate: none;
    scale: none;
    transform: translate3d(0px, 0px, 6px) rotate(39deg);
    align-items: center;
    display: flex;
    height: 210% !important;
    justify-content: center;
    position: relative;
    width: 112%;
    top: 1123px;
    left: -56px;
    transition: transform 1s ease-out;
}

#image1{
    transform: rotate(137deg);
    translate: none;
    rotate: none;
    scale: none;
    transform: translate(-624.9304999999999px, -628.98px) rotate(340deg);
}
#image2{
    transform: rotate(182deg);
    translate: none;
    rotate: none;
    scale: none;
    transform: translate(11.069500000000005px, -674.02px) rotate(11deg);
}

#image3{
    transform: rotate(227deg);
    translate: none;
    rotate: none;
    scale: none;
    transform: translate(-1214.442px, -284.61px) rotate(321deg);
}

#image4{
   translate: none;
   rotate: none;
   scale: none;
   transform: translate(556.0695px, -495.02px) rotate(29deg);
}


.moving-element {
    position: absolute;
    top: -13% !important;
    left: 50%;
    width: fit-content;
    height: fit-content;
    background-color: rgba(0, 0, 255, 0);
    // transform-origin: 0 -100px;
}

// #image3{
   
//     top: -21% !important;
//     left: 183% !important;
// }
// #image2{
    
//     top: 8% !important;
//     left: -154% !important;
// }

// #image1{
    
//     top: 8% !important;
//     left: -393% !important;
// }
// #image4{
   
//     top: -13% !important;
//     left:  50% !important;
// }

.first_right_text {
    position: relative;
    font-family: "SFT";
    font-size: 28px;
    font-weight: 400;
    line-height: 39px;
    letter-spacing: -0.03em;
    text-align: left;
    color: rgba(26, 26, 26, 0.4);
    width: 446px;
    margin-top: 700px;

}

.second_right_text {
    font-family: "SFT";
    font-size: 68px;
    font-weight: 500;
    line-height: 76px;
    letter-spacing: -0.04em;
    color: rgba(26, 26, 26, 0.4);
    text-align: left;
    position: relative;
    width: 472px;
    margin-top: 673px;
}

.problem_text {
    font-family: "SFT";
    font-size: 68px;
    font-weight: 500;
    line-height: 76px;
    letter-spacing: -0.04em;
    color: rgba(26, 26, 26, 0.4);
    text-align: left;
    position: relative;
    width: 606px;
    display: block !important;

    margin-top: 327px;
}

.buttonsWrapper{
    position: relative;
}
.startup_image {
}

.investors_image {
    display: none;
}

.experts_image {
    display: none;
}

.images_wrapper_invest{
    position: relative;
    bottom: -395px;
    display: none;
    width: fit-content;
    z-index: 2;

}

.controlWrapper{
    width: 90%;
    margin: auto;
    max-width: 1800px;
    height: 59px;
    display: flex;
    justify-content: space-between;

    

}

.buttonsWrapper{
    background: white;
    border: unset;
    color: rgba(26, 26, 26, 0.42);
    display: flex;
    margin-left: 5px;
    cursor: pointer;
    margin-top: 445px;
    width: 235px;
}
.banner_buttons_ {
    padding-left: 10px;
}

.active {
    color: black;
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    //overflow-y: hidden;

    
}

.overFlowUnSet{
    overflow-y: unset;
}

