@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Inter', sans-serif;
  
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: black;
    background: #FFFFFF;
  }
}

.centerModal {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.separator {
  opacity: 0.1;
  border: 1px solid #217BF4;
}

.container_custom {
  margin: auto;
  display: flex;
  max-width: 1440px;
}

.mt-116 {
  margin-top: 116px;
}

.nav_titles{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 18px;
  /* identical to box height, or 100% */


  color: #217BF4;
}

@media (max-width: 766px) {
  .banner * {
      text-align: center;
      justify-content: center;
  }

  .banner{

    h1 {
      font-size:31px !important;
    }
  }

  .section_why_us * {
    text-align: center;
    justify-content: center;
  }

  .section_why_us{
    .dotted-list {
      width: fit-content;
    }
  }

  .achievements  * {
    text-align: center;
    justify-content: center;
  }
}