.app_details {

    margin-top: 5%;
    max-width: 1900px;
    width: 97%;
    margin: 200px auto;

    
    h1 {
        font-family: "SFT";
        font-size: 68px;
        font-weight: 500;
        line-height: 76px;
        letter-spacing: -0.04em;
        text-align: center;
        margin-bottom: 8%;

    }

    img.iphone_image {
        width: 492px;
        height: 774px;
        z-index: 2;
        background-image: url("../public/images/background2.png");
    }

    .row{
        justify-content: center;
        
    }

    .content_wrapper{
        justify-content: space-between;

        .card_wrapper{
            .row{
                justify-content: space-between;
            }
        }
    }
    .content {
        .title{
            font-weight: 700;
            font-size: 36px;
            line-height: 48px;
            /* or 133% */
            color: #0A093D;
            margin-top: 10px;
            margin-bottom: 18px;
        }

        p {
        font-weight: 400;
        font-size: 16px;
        line-height: 28px;
        color: #656464;
        }

        h1 {
            font-size: inherit;
            line-height: 48px;
        }

        button {
            background: #217BF4;
            box-shadow: 0px 10px 22px rgba(33, 123, 244, 0.26);
            border-radius: 14px;
            position: relative;
            border: none;
            border-radius: 8px;
            overflow: hidden;
            padding: 18px;
            margin-top: 38px;
        }

        button div{
            font-weight: 500;
            font-size: 14px;
            line-height: 14px;
            /* identical to box height, or 100% */

            text-align: center;
            letter-spacing: -0.02em;

            color: #FFFFFF;
        }
    }
    .card_wrapper{
        width: 105%;

        .card_info_wrapper img {
            margin-top: 31px;
        }
        .card {
            border-radius: 32px;
            max-width: 448px;
            padding: 19px;
            width: 448px;
            height: fit-content;
            background-color: #fffffff5;
            a {
                color: #4A4A56;
            }
            span , a {
                display: flex;
            }
            .card-title {
                margin-bottom: 0px;
                margin-top: 1px;
                margin-left: 12px;
            }
    
            .card-text {
                margin: 10px 0px;
                font-family: "SFT";
                font-size: 28px;
                font-weight: 400;
                line-height: 31px;
                letter-spacing: -0.04em;
                text-align: left;
                width: 244px;

            }

            .card_info {
                font-size: 16px;
                line-height: 18px;
                letter-spacing: -0.02em;
                color: #5D5B70;
                display: flex;
                margin-top: 42px;

                span {
                    color: #217BF4;
                    margin: 0px 5px;
                }
            }

            i {
                margin-top: 4px;
                margin-left: 11px;
                font-size: 15px;
            }
        }
    }
   
    .card:hover {
        box-shadow: 0px 26px 49px rgba(146, 165, 184, 0.14);

        a {
            color: #217BF4;
        } 
    }

    @media (max-width: 940px) {
        .content {
            margin-top: 30px;
        }
      }

      @media (max-width: 767px) {
        .content {
            margin-top: 30px;
        }
        .card_wrapper .row{
            row-gap: 10px;
        }

        .content_wrapper .card_wrapper .row {
            justify-content: center;
        }

      }

      .container_card {
        perspective: 25px;
      }
      
      .inner_card {
        width: 20em;
        height: 18em;
        background-color: white;
        box-shadow: 2px 2px 50px rgba(0, 0, 0, 0.2);
        transition: transform 0.5s;
        -webkit-transition: transform 0.5s;
        -moz-transition: transform 0.5s;
        -o-transition: transform 0.5s;
      }
}

:root {
    --size-pictureframe: 100px;
  }
  .circles-gallery {
    position: relative;
    height: var(--size-pictureframe);
    margin-left: calc(var(--size-pictureframe) * 0.5);
    position: absolute;
    top: 91px;
    left: 4px;
  }
  .circles-gallery > * {
    position: relative;
    display: inline-block;
    margin-left: calc(var(--size-pictureframe) * -0.5);
    height: 69%;
    border: solid 5px #ffffff00;
    aspect-ratio: 1;
    border-radius: 50%;
    z-index: 10;
  }
  .circles-gallery > *:hover,
  .circles-gallery > *:focus-within {
    z-index: +20;
  }