
.nav-menu-text {
font-style: normal;
line-height: 14px;
/* identical to box height, or 100% */
letter-spacing: 0.01em;
color: #1a1a1a9c;
margin: 10px;
cursor: pointer;
font-family: "SFT";
font-size: 18px;
font-weight: 400;
line-height: 22px;
letter-spacing: -0.02em;
text-align: left;
}



.nav-menu-text:hover {
  width: 100%;
  color: #656464;
}

//Custom Ends

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #FFFFFF;
  max-width: 1818px;
  width: 97%;
  margin: 29px auto !important;
  padding: 0px;

  .nav-button {
    background: #F4F6F5;
    border-radius: 45px;
    width: 123px;
    height: 50px;
    font-family: 'Inter';
    font-style: normal;
    /* identical to box height, or 117% */
    font-family: "SFT";
    text-align: center;
    padding: 3px;
    color: black;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: -0.02em;
    text-align: center;
    border: unset;

    }
}

.logo {
  /* Add your logo styles here */
  width: fit-content;
}

.menu-toggle {
  display: none;
  cursor: pointer;
  padding: 0.5rem;
  z-index: 7;
}

.menu-toggle.open .bar {
  background-color: #000;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: #333;
  margin: 4px;
  transition: background-color 0.3s ease;
}

.nav-menu {
  display: flex;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
  white-space: nowrap;
}


.dropdown {
  /* Add your dropdown menu styles here */
}

.nav-option {
  /* Add your navigation option styles here */
}

.login-button {
  /* Add your login button styles here */
}
.inputs_list {
  display: none;
}
/* Media Queries */
@media (max-width: 991px) {
  .menu-toggle {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }

  .inputs_list {
    display: block;
  }

  .nav-menu {
    display: none;
    flex-direction: column;
    background-color: #FFFFFF;
    padding: 1rem;
    position: absolute;
    top: 6%;
    left: 0;
    width: 100%;
  }

  .nav-menu.open {
    display: flex;
    z-index: 3;
  }

  .inputs.open {
    display: flex;
  }

  .nav-menu li {
    margin-bottom: 1rem;
  }

  .nav-menu-text {
    width: 100%;
    }

    .inputs_list{
      width: inherit;
    }
}

.search-container {
  display: flex;
  align-items: center;
  background-color: transparent;
  border-bottom: 1px solid #E5E5E5;
  padding: 5px;
  padding-top: 9px;
}

.search-input {
  flex: 1;
  border: none;
  background-color: transparent;
  outline: none;
  color: #2B2B39;
}

.search-button {
  border: none;
  background-color: transparent;
  outline: none;
  color: #2B2B39;
  cursor: pointer;
}