


  @media (max-width: 1460px) {
  
    .banner .inner-banner{
        height: 333px;
    }
  }

  @media (max-width: 1224px) {
  
    .banner .inner-banner{
        height: 416px;
    }
  }

@media (max-width: 1504px) {
    .second_right_text {
        width: 366px;
        font-size: 34px
    }
    .image_details {
        right: -22px;
    }

    
  
    .problem_text{
        font-size: 34px;
        line-height: 46px;
        width: 187px;
    }
  }
  
  @media (max-width: 1418px) {
    .image_details {
        height: 490px;
    }
  
  }
  
  @media (max-width: 1418px) {
    .second_right_text {
        width: 260px;
        font-size: 23px;
        line-height: 39px;
    }
    .first_right_text {
        font-size: 19px;
        width: 347px;
    }
  }
  

  @media (max-width: 1185px) {
    .banner .banner_image {
        height: 510px;
    }
    .first_right_text {
        left: 66%;
        font-size: 29px;
        width: 347px;
    }
    .second_right_text {
        width: 319px;
        font-size: 35px;
        line-height: 53px;
    }

    .gallery_wrapper {
        height: 446px;
        .gallery > img {
            width: 76%;
            height: 72%;
            transform-origin: 10% 251.7%;
            grid-area: 1/2;
        }
    }

    .app_details .card_wrapper .card{
        width: 332px;
        white-space: unset !important;
    }

    footer .right_side_list .nav_links {
        font-size: 40px;
    }

  }


  @media (max-width: 414px) {

    .moving-element{
        top: 0px !important;
        left: 0px;
    }
    .timeline-container , .app_details , .gallery_wrapper , .banner{
         max-width: 414px !important;
    }
    .mobile_view{
        display: block;
    }

    .desktop_view{
        display: none !important;
    }

    .problem_text_mobile{
        color: rgba(26, 26, 26, 0.25);
        font-family: "SFT";
        font-size: 40px;
        font-style: normal;
        font-weight: 500;
        line-height: 112%; /* 44.8px */
        letter-spacing: -1.6px;
        width: 293px;

        span {
            color: #1A1A1A;
            font-family: "SFT";
            font-size: 40px;
            font-style: normal;
            font-weight: 500;
            line-height: 112%;
            letter-spacing: -1.6px;
        }
        
    }

    .swiper_statistics_wrapper_mobile{

        .backTextValue{
            font-size: 73px;
            font-style: normal;
            font-weight: 400;
            line-height: 92%; /* 67.16px */
            letter-spacing: -2.92px;
            white-space: wrap;
        }
        .cards_group_wrapper{
            display: flex;
            width: 94%;
            flex-wrap: wrap;
            margin: 0 auto;
            .card-text{
                font-size: 52px;
                font-style: normal;
                font-weight: 300;
                line-height: 120%; /* 62.4px */
                letter-spacing: -2.08px;
                margin-top: 0px !important;
            }
            .card{
                border-radius: 26px;
                height: 216px !important;
                margin: 5px;
            }

            img {
                width: 28px;
                height: 28px;
            }
        }

        img {
            width: 339px;
            height: 428px;
        }
        .arrows_stat{
            width: 52px;
            height: 48px;
        }

        
    }

    .banner {

        .banner_image{
            width: 275px;
            height: 559px;
            flex-shrink: 0;
        }

        .middle_list h1 {
            font-size: 40px;
        }

        .inner-banner{
            height: 61px;
        }

        .content{
            height: 665px;
        }
    }
    
    
    .first_right_text {
        left: 7%;
        font-size: 15px;
        width: 347px;
        top: 447%;
    }
    .second_right_text {
        left: 7%;
        font-size: 44px;
        width: 347px;
        top: 360%;
    }

    .gallery_wrapper {
        height: 545px;
        .gallery > img {
            width: 76%;
            height: 72%;
            transform-origin: 10% 251.7%;
            grid-area: 1/2;
        }
        .howItWorks{
            font-size: 40px;
        }
        .moving-element{
            width: 252px;
            height: 325px;
        }

        .circle-container{
            transform: translate3d(0px, 0px, 6px) rotate(317deg);
            align-items: center;
            display: flex;
            height: 40% !important;
            width: 29%;
            top: 1011px;
            left: -116px;
        }
    }

    .app_details{
        margin: 80px auto;
        h1 {
            font-size: 40px;
            width: 295px;
            font-style: normal;
            font-weight: 500; 
            line-height: 112%; /* 44.8px */
        }

        .iphone_image{
            width: 288px !important;
            height: 454px !important;
        }

        .card{
            width: 153px !important;
            height: 65px !important;
            flex-shrink: 0;
            border-radius: 12px !important;

            .card-text{
                font-size: 13px !important;
                font-weight: 400;
                line-height: 14px !important;
                letter-spacing: -0.04em;
                text-align: left;
                width: 138px !important;
                top: -29px;
                position: relative;
                left: 22px;
            }

            img {
                height: 22px;
                width: 22px;
                left: -12px;
                position: relative;
                top: -12px;
            }
        }

        .card_wrapper1{
            .card {
                bottom: 756% !important;
                left: -1% !important;
            }
            
        }

        .card_wrapper2{
            
            .card {
                bottom: 565% !important;
                left: -1% !important;
            }
        }

        .card_wrapper3{
            .card {
                bottom: 527% !important;
                left: 50% !important;
            }
        }

        .card_wrapper4{
            .card {
                bottom: 945% !important;
                left: 48% !important;
            }
        }


    }



    .milestones-container {
        display: block;

        .quarter-title{
            width: 100%;
            font-size:20px;
        }
        .list_wrapper{
            width: 100%;
        }
    }

    .axis-label{
        bottom: 15em;
        .result{
            left: 21px;
        }
        
    }
    .axis-label.time{
        bottom: 9px;
        left: 92%;
    }
    .q_text{
        font-size: 12px !important;
        font-style: normal !important;
        font-weight: 400 !important;
        line-height: 14.4px !important; /* 14.4px */
        padding-top: 15px !important;
        padding-bottom: 15px !important;
        padding-left: 12px !important;
        padding-right: 21px !important;
        white-space: nowrap !important;
        }

    .timeline-container_header {
        position: relative;
        .nasdaq_image{
            display: none;
        }
    }
    .header_text{
        font-family: "SFT";
        font-size: 40px;
        font-weight: 500;
        line-height: 45px;
        letter-spacing: -0.04em;
        text-align: left;
        }

    .timeline-container{
        width: 86.5%;
        height: 217px;

        .separator{
            border: 1px solid rgba(217, 217, 217, 0.23921)
        }
    }

    .q4 , .h2 , .h1 , .q3{
        width: 22%;
        height: 20%;
        padding: 0px;
    }

    .h1{
        left: 22% !important;
        top: 82px !important;
    }
    .h2{
        top: 38px !important;
        right: -66% !important;
    }
    .q3{
        top: 175px !important;
    }
    .q4{
        left: -21% !important;
        top: 130px !important;
    }

    .sep1 {
        top: 126px !important;
    }

    .sep3 {
        top: 79px !important;
    }

    .emps_header{
        white-space: nowrap;
    }


    footer .request_pitch .sub_header{
        width: 297px;
    }

    
  }

